{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django 1 - Index</title>

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

</head>
<body>
    <center>
    <h1>Página de Produtos</h1>
    <img src="{% static 'images/django.png' %}" width="100px">
    <table>
        <thead>
            <tr>
                <th>Escolha um Produto</th>


            </tr>
        </thead>
            {% for produto in produtos %}
                <tr>
                    <td><a href="{% url 'produto' produto.id %}" >{{ produto.nome }}</td>


                </tr>
            {% endfor %}
    </table>

    <button onclick="teste();">Botão de teste</button>
    </center>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>